body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6e4c3e;
}

*{
  font-family:'Montserrat';
  color: #6e4c3e;
  text-decoration: none;
}

button {
  border: none;
    padding: 14px 40px;
    background-color: #906f70;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

code {
  font-family: 'JetBrains Mono', monospace;
}

.container{
  background-color: #ddd8d0;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  position: relative;

  .clear{
    position: absolute;
    right: 15px;
    width: 18px;
    height: 18px;
    top: 14px;
  }

  input {
    border: 0;
    background-color: #ddd8d0;
    padding: 13px;
    font-size: 16px;
    width: 200px;

  }
}

.greenButton {
  width: 245px;
  margin-top: 20px;
  background-color: #9dd459;
  border-radius: 20px;

  &:hover {
    img {
      transform: rotate(180deg) translateX(3px);
    }
  }

  img {
    position: relative;
    top: 1px;
    transform: rotate(180deg);
    margin-right: 15px;
    transition: transform 0.15s ease-in-out;
  }
}