.sale {
    padding: 30px;
    display: flex;
    align-items: center;
  border:1px solid #906f70;
  margin: 50px;
  border-radius: 20px;
  img {
    border-radius: 20px;
  }
  span {
    font-size: 30px;
    color: rgb(0, 128, 28);
  }
}